/* Odin Project Calculator */

.display {
  width: 80%;
}

.btn {
  width: 50px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.operator {
  background-color: orange;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 3 / span 3;
}

.div2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.div3 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.div4 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.div6 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.div7 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.div8 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.div9 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.div10 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.div11 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.div12 {
  grid-column-start: 1;
  grid-row-start: 5;
}

.div13 {
  grid-column-start: 2;
  grid-row-start: 5;
}

.div14 {
  grid-column-start: 3;
  grid-row-start: 5;
}

.div15 {
  grid-column-start: 4;
  grid-row-start: 1;
}

.div16 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.div17 {
  grid-column-start: 4;
  grid-row-start: 3;
}

.div18 {
  grid-column-start: 4;
  grid-row-start: 4;
}

.div19 {
  grid-row-start: 5;
}
